<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.novel_energy_system.mapper.DrawMapper">

    <insert id="insertPicture" parameterType="com.example.novel_energy_system.pojo.Picture" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO picture (name, createtime, updatetime, description)
        VALUES (#{name}, #{createTime}, #{updateTime}, #{description})
    </insert>

    <delete id="deletePicture" parameterType="int">
        DELETE FROM picture WHERE id = #{id}
    </delete>

    <update id="updatePicture" parameterType="com.example.novel_energy_system.pojo.Picture">
        UPDATE picture
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="updateTime != null">updatetime = #{updateTime},</if>
            <if test="description != null">description = #{description}</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectPicture" resultType="com.example.novel_energy_system.pojo.Picture">
        SELECT * FROM picture
    </select>
    
    <select id="selectPictureByContent" parameterType="string" resultType="com.example.novel_energy_system.pojo.Picture">
        SELECT * FROM picture
        WHERE description LIKE CONCAT('%',#{content},'%')
    </select>

</mapper>