<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.novel_energy_system.mapper.PowerFlowMapper">

    <!-- 插入 PowerFlow 记录 -->
    <insert id="insertPowerFlow" parameterType="com.example.novel_energy_system.pojo.PowerFlow">
        INSERT INTO powerflow (node, angle, voltage, p, q, time)
        VALUES (#{node}, #{angle}, #{voltage}, #{p}, #{q}, #{time})
    </insert>

</mapper>